<footer id="contacts" class="footer">
  <div class="container footer-container">
    <div class="footer-logo-menu">
      <div class="footer-image-logo">
        <picture>
          <source
            srcset="
              ./images/footer-img@x1.webp 1x,
              ./images/footer-img@x2.webp 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/footer-img@x1.webp 1x,
              ./images/footer-img@x2.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/footer-img-mobile@x1.webp 1x,
              ./images/footer-img-mobile@x2.webp 2x
            "
            media="(max-width: 767px)"
          />
          <img src="./images/footer-img-mobile@x1.webp" alt="broccoli" />
        </picture>
        <a class="footer-logo" href="">
          <svg class="footer-logo-icon" width="16" height="16">
            <use href="./images/icons.svg#icon-logo"></use>
          </svg>
          <span class="footer-logo-text">VEGGIEBOOST</span>
        </a>
      </div>
      <div class="footer-menu-link">
        <ul class="footer-menu">
          <li class="footer-menu-item">
            <a class="footer-menu-list" href="./index.html#how-it-works"
              >How It Works</a
            >
          </li>
          <li class="footer-menu-item">
            <a class="footer-menu-list" href="./index.html#vegetables"
              >Vegetables</a
            >
          </li>
          <li class="footer-menu-item">
            <a class="footer-menu-list" href="./index.html#contacts"
              >Contacts</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-social-address">
      <div class="footer-social">
        <ul class="footer-social-list">
          <li class="footer-social-item">
            <a
              class="footer-social-link"
              href="https://uk-ua.facebook.com"
              target="_blank"
            >
              <svg class="footer-social-icon" width="24" height="24">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-item">
            <a
              class="footer-social-link"
              href="https://www.instagram.com"
              target="_blank"
            >
              <svg class="footer-social-icon" width="24" height="24">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-item">
            <a
              class="footer-social-link"
              href="https://www.youtube.com"
              target="_blank"
            >
              <svg class="footer-social-icon" width="24" height="24">
                <use href="./images/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-address-menu">
        <address class="footer-address">
          <ul class="footer-address-list">
            <li class="footer-tel-link">
              <a href="tel:+380684439426">+380 (68) 443-94-26</a>
            </li>
            <li class="footer-address-link">
              <a
                href="https://goo.gl/maps/8jugCkUSbWZTTNTv9"
                target="_blank"
                rel="noopener noreferrer"
                >1678 S. Pioneer Road<br />Salt Lake City<br />UT 84104</a
              >
            </li>
          </ul>
        </address>
      </div>
    </div>
  </div>
</footer>
