<header class="header">
  <div class="container header-cnt">
    <nav class="header-wrap-cnt">
      <div class="header-wrap">
        <ul class="header-list list">
          <li class="header-item">
            <a class="header-item-link" href="#how it works">How it works</a>
          </li>
          <li class="header-item">
            <a class="header-item-link" href="#vegetables">Vegetables</a>
          </li>
          <li class="header-item">
            <a class="header-item-link" href="#contacts">Contacts</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="header-logo-wrap">
        <a class="header-logo" href="./index.html">
      <svg class="header-logo-icon" width="24" height="24">
        <use href="./images/icons.svg#icon-logo"></use>
      </svg>
      <span class="header-logo-text">VEGGIEBOOST</span></a>
    </div>
    

    <button type="button" class="menu-cart-btn">
      <svg class="menu-cart-icon" width="24" height="24">
        <use href="./images/icons.svg#icon-shopping-cart"></use>
      </svg>
    </button>
    </nav>
    

    <button type="button" class="menu-open-btn is-open" data-menu-open >
      <svg class="menu-open-icon" width="24" height="24" aria-label="mobile menu changer">
        <use class="icon-burger" href="./images/icons.svg#icon-mobile-menu-open"></use>
      </svg>
    </button> 
    
    <!-- mobile menu  -->

    <div class="mob-menu is-hidden" data-menu>
        <section class="menu-header-wrap">
        <div class="container header-menu-cnt">
                <div class="header-menu-logo-wrap">
                    <svg class="header-logo-icon" width="24" height="24">
                        <use href="./images/icons.svg#icon-logo"></use>
                    </svg>
                    <a class="header-logo-text" href="./index.html">VEGGIEBOOST</a>
                </div>

                <button class="close-menu-btn" data-menu-close type="button">
                    <svg class="close-menu-icon" width="24" height="24">
                    <use href="./images/icons.svg#icon-mobile-menu-close"></use>
                    </svg>
                </button>
        </div>
          </section>
      <div class="container">
        <div class="header-menu-list-wrap">
          <ul class="header-menu-list list">
            <li class="header-menu-item">
              <a
                class="header-menu-item-link"
                href="./how-it-works.html"
                >How it works</a
              >
            </li>
            <li class="header-menu-item">
              <a class="header-menu-item-link" href="./vegetables.html"
                >Vegetables</a
              >
            </li>
            <li class="header-menu-item">
              <a class="header-menu-item-link" href="">Contacts</a>
            </li>
          </ul>

          <button type="button" class="menu-list-btn" data-menu-open>
            <svg class="menu-list-icon" width="24" height="24">
              <use href="./images/icons.svg#icon-shopping-cart"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>

  </div>
</header>

