<section class="hero">
  <div class="container flex-hero">
    <div class="first-column">
      <ul class="reviews-list">
        <li class="reviews-item reviews-item-first">
          <picture>
            <source
              srcset="
                ./images/hero-reviews1-desktop@x1.webp 1x,
                ./images/hero-reviews1-desktop@x2.webp 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/hero-reviews1-tablet@x1.webp 1x,
                ./images/hero-reviews1-tablet@x2.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/hero-reviews1-mobile@x1.webp 1x,
                ./images/hero-reviews1-mobile@x2.webp 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/hero-reviews1-desktop@x1.webp"
              alt="wonem reviews"
            />
          </picture>
        </li>
        <li class="reviews-item reviews-item-second">
          <picture>
            <source
              srcset="
                ./images/hero-reviews2-desktop@x1.webp 1x,
                ./images/hero-reviews2-desktop@x2.webp 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/hero-reviews2-tablet@x1.webp 1x,
                ./images/hero-reviews2-tablet@x2.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/hero-reviews2-mobile@x1.webp 1x,
                ./images/hero-reviews2-mobile@x2.webp 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./images/hero-reviews2-desktop@x1.webp"
              alt="men reviews"
            />
          </picture>
        </li>
        <li class="reviews-item reviews-item-third">
          <picture>
            <source
              srcset="
                ./images/hero-reviews3-desktop@x1.webp 1x,
                ./images/hero-reviews3-desktop@x2.webp 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/hero-reviews3-tablet@x1.webp 1x,
                ./images/hero-reviews3-tablet@x2.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/hero-reviews3-mobile@x1.webp 1x,
                ./images/hero-reviews3-mobile@x2.webp 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="../images/hero-reviews3-desktop@x1.webp"
              alt="women reviews"
            />
          </picture>
        </li>
        <li class="reviews-item reviews-item-forth">
          <span class="reviews-span">2k</span> reviews
        </li>
      </ul>
      <h1 class="hero-heading">
        organic <span class="part-hero-heading">vegetables</span> to your diet
        today!
      </h1>
      <p class="hero-text">
        Our expertly curated vegetable baskets are made with the freshest,
        highest quality vegetables available. Fresh Harvest Box has got you
        covered. Fresh, high-quality vegetables in expertly curated vegetable
        baskets delivered to you.
      </p>
      <button type="button" class="hero-btn btn-order">shop now</button>
    </div>
    <div class="second-colimn">
      <picture class="girl-image">
        <source
          srcset="
            ./images/hero-desktop@x1.webp 1x,
            ./images/hero-desktop@x2.webp 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/hero-tablet@x1.webp 1x,
            ./images/hero-tablet@x2.webp 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/hero-mobile@x1.webp 1x,
            ./images/hero-mobile@x2.webp 2x
          "
          media="(max-width: 767px)"
        />
        <img
          src="./images/hero-desktop@x1.webp"
          class="hero-img"
          alt="women with lettuce"
        />
      </picture>
      <ul class="tag-list">
        <li class="tag-item organic">#organic</li>
        <li class="tag-item">#products</li>
        <li class="tag-item">#basket</li>
        <li class="tag-item">#vegetables</li>
      </ul>
    </div>
  </div>
</section>
