
<div id="myModal" class="modal"> 
  <div class="modal-content"> 
    <div class="box-title-button"> 
      <h2 class="form-title">Your order</h2> 
 
      <div class="button-close_box"> 
        <button type="button" id="btnClose" class="myBtnClose" width="10px" height="10px"> 
          <div class="button-close_box"> 
            <svg width="28px" height="28px"> 
              <use class="modal-close-icon" href="./images/icons.svg#icon-popup-close"></use> 
            </svg> 
          </div> 
        </button> 
      </div> 
    </div> 
 
    <div class="box-basket">               
      <ul class="list-item"> 
        <li class="modal-item"> 
          <div class="modal-checkbox"> 
            <input class="modal-checkbox-input visually-hidden" id="buy1" type="checkbox" value="true" name="buy" 
              required /> 
            <label class="modal-checkbox-label" for="buy1"> 
              <svg class="modal-checkbox-icon   check-castom" width="16" height="16"> 
                <use href="./images/icons.svg#icon-checkbox-popup1"></use> 
              </svg> 
              <div class="box-vegatables-plant"> 
                <h3 class="vegetables-title">Cabbage Basket</h3> 
                <p class="plan-text">Plant</p> 
              </div> 
              <picture class="modal-picture"> 
                <source srcset=" 
                      ./images/cabbage-popup-desktop@x1.webp 1x, 
                      ./images/cabbage-popup-desktop@x2.webp 2x" media="(min-width: 1280px)" /> 
                <source srcset=" 
                      ./images/cabbage-popup-tablet@x1.webp 1x, 
                      ./images/cabbage-popup-tablet@x2.webp 2x" media="(min-width: 768px)" /> 
                <source srcset=" 
                      ./images/cabbage-popup-mobile@x1.webp 1x, 
                      ./images/cabbage-popup-mobile@x2.webp 2x" media="(max-width: 767px)" /> 
                <img class="modal-img" src="../images/cabbage-popup-desktop@x1.webp" alt="cabbage" /> 
              </picture> 
            </label> 
          </div> 
        </li> 
        <li class="modal-item"> 
          <div class="modal-checkbox"> 
            <input class="modal-checkbox-input visually-hidden" id="buy2" type="checkbox" value="true" name="buy" 
              required /> 
            <label class="modal-checkbox-label" for="buy2"> 
              <svg class="modal-checkbox-icon check-castom" width="16" height="16"> 
                <use href="./images/icons.svg#icon-checkbox-popup1"></use> 
              </svg> 
              <div class="box-vegatables-plant"> 
                <h3 class="vegetables-title">Tomato Basket</h3> 
                <p class="plan-text">Plant</p> 
              </div> 
              <picture class="modal-picture"> 
                <source srcset=" 
                      ./images/tomato-popup-desktop@x1.webp 1x, 
                      ./images/tomato-popup-desktop@x2.webp 2x" media="(min-width: 1280px)" /> 
                <source srcset=" 
                      ./images/tomato-popup-tablet@x1.webp 1x, 
                      ./images/tomato-popup-tablet@x2.webp 2x" media="(min-width: 768px)" /> 
                <source srcset=" 
                      ./images/tomato-popup-mobile@x1.webp 1x, 
                      ./images/tomato-popup-mobile@x2.webp 2x" media="(max-width: 767px)" /> 
                <img class="modal-img" src="./images/tomato-popup-desktop@x1.webp" alt="tomato" /> 
              </picture> 
            </label> 
          </div> 
        </li> 
        <li class="modal-item"> 
          <div class="modal-checkbox"> 
            <input class="modal-checkbox-input visually-hidden" id="buy3" type="checkbox" value="true" name="buy" 
              required /> 
            <label class="modal-checkbox-label" for="buy3"> 
              <svg class="modal-checkbox-icon check-castom" width="16" height="16"> 
                <use href="./images/icons.svg#icon-checkbox-popup1"></use> 
              </svg> 
              <div class="box-vegatables-plant"> 
                <h3 class="vegetables-title">Vegetables Basket</h3> 
                <p

class="plan-text">Plant</p> 
              </div> 
              <picture class="modal-picture"> 
                <source srcset=" 
                      ./images/vegetables-popup-desktop@x1.webp 1x, 
                      ./images/vegetables-popup-desktop@x2.webp 2x" media="(min-width: 1280px)" /> 
                <source srcset=" 
                      ./images/vegetables-popup-tablet@x1.webp 1x, 
                      ./images/vegetables-popup-tablet@x2.webp 2x" media="(min-width: 768px)" /> 
                <source srcset=" 
                      ./images/vegetables-popup-mobile@x1.webp 1x, 
                      ./images/vegetables-popup-mobile@x2.webp 2x" media="(max-width: 767px)" /> 
                <img class="modal-img" src="../images/vegetables-popup-desktop@x1.webp" alt="vegetables" /> 
              </picture> 
            </label> 
          </div> 
        </li> 
      </ul> 
    </div> 
  </div> 
  <div class="box-input_picture-girl"> 
    <form class="form"> 
      <div class="input-name_box"> 
        <div class="inputs"> 
          <input class="enter-input" type="text" id="name" name="name" placeholder="Enter full name..." 
            pattern="[A-Za-zА-Яа-яЁёіїєґҐ\s]+" required minlength="2" /> 
        </div> 
 
        <div class="inputs"> 
          <input class="enter-input" type="email" id="email" name="email" placeholder="Enter email..." /> 
        </div> 
 
        <div class="inputs"> 
          <input class="enter-input" type="password" id="password" name="password" placeholder="Enter card.." 
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required minlength="2" /> 
        </div> 
 
        <div class="inputs"> 
          <textarea class="comments" id="comments" name="comments" placeholder="Enter comments..." required 
            minlength="2"></textarea> 
        </div> 
 
        <div class="inputs"> 
          <input class="submit" type="submit" value="Submit" /> 
 
        </div> 
 
      </div> 
      <div class="modal-img_girl"> 
        <picture class="modal-picture"> 
          <source srcset=" 
                        ./images/popup-girl@x1.webp 1x, 
                        ./images/popup-girl@x2.webp 2x 
                      " media="(min-width: 768px)" /> 
          <img class="img-girl" src="" alt="women" /> 
        </picture> 
      </div> 
  </div> 
  </form> 
</div>