<section class="three-steps">
    <div class="container container-three-steps">

        <picture>
            <source
                srcset="../images/three-steps-girl-desktop@x1.webp 1x, ../images/three-steps-girl-desktop@x2.webp 2x"
                media="(min-width: 1280px)" type="image/webp" />
            <source srcset="../images/three-steps-girl-tablet@x1.webp 1x, ../images/three-steps-girl-tablet@x2.webp 2x"
                media="(min-width: 768px)" type="image/webp" />
            <source srcset="../images/three-steps-girl-mobile@x1.webp 1x, ../images/three-steps-girl-mobile@x2.webp 2x"
                media="(min-width: 375px)" type="image/webp" />
            <img class="img-three-steps" src="../images/three-steps-girl-desktop@x1.webp" alt="girl with cabbage" />
        </picture>
        <div class="three-steps-right">
            <h2 class="three-steps-title">3 Easy Steps for Buying Fresh Vegetables</h2>

            <ul class="three-steps-list">
                <div class="text-container-1">
                    <li class="three-steps-item item-1">Just choose the vegetable you want to order by clicking on the
                        checkboxes next to it.</li>
                </div>
                <div class="text-container-2">
                    <li class="three-steps-item item-2">Click on the basket and fill out the form.</li>
                </div>
                <div class="text-container-3">
                    <li class="three-steps-item item-3">Sit back and relax! Your fresh vegetables basket will be
                        delivered.
                    </li>
                </div>
            </ul>
        </div>


    </div>
</section>