<section class="vegetables">
    <div class="container">
        <h2 class="title-section">oRGANIC vegetables</h2>
        <p class="text-description"></p>
        <ul class="group-list">
            <li class="name-item">
                <h3 class="title-plant">Carrot</h3>
                <a href="" class="link-plant link" target="_blank" rel="noopener noreferrer">Plant</a>
                <picture>
                    <source srcset="../images/carrot@x1.webp, ../images/carrot@x2.webp">
                    <img src="../images/carrot-mobile@x1.webp" alt="bunch of carrots" width="321" height="261">
                </picture>
                <p class="price">100 UAH / kg</p>
            </li>
            <li class="name-item">
                <h3 class="title-plant">Brussel sprouts</h3>
                <a href="" class="link-plant link" target="_blank" rel="noopener noreferrer">Plant</a>
                <picture>
                    <source srcset="../images/brussel@x1.webp, ../images/brussel@x2.webp">
                    <img src="../images/brussel-mobile@x1.webp" alt="folded brussels sprouts" width="321" height="261">
                </picture>
                <p class="price">80 UAH / kg</p>
            </li>
            <li class="name-item">
                <h3 class="title-plant">Tomato</h3>
                <a href="" class="link-plant link" target="_blank" rel="noopener noreferrer">Plant</a>
                <picture>
                    <source srcset="../images/tomato@x1.webp, ../images/tomato@x1.webp">
                    <img src="../images/tomato-mobile@x1.webp" alt="half and whole tomato" width="321" height="261">
                </picture>
                <p class="price">40 UAH / kg</p>
            </li>
            <li class="name-item">
                <h3 class="title-plant">Eggplant</h3>
                <a href="" class="link-plant link" target="_blank" rel="noopener noreferrer">Plant</a>
                <picture>
                    <source srcset="../images/eggplant@x1.webp, ../images/eggplant@x2.webp">
                    <img src="../images/eggplant-mobile@x1.webp" alt="three eggplants" width="321" height="261">
                </picture>
                <p class="price">60 UAH / kg</p>
            </li>
            <li class="name-item">
                <h3 class="title-plant">Sweet potatoes</h3>
                <a href="" class="link-plant link" target="_blank" rel="noopener noreferrer">Plant</a>
                <picture>
                    <source srcset="../images/potatoes@x1.webp, ../images/potatoes@x2.webp">
                    <img src="../images/potatoes-mobile@x1.webp" alt="sliced potatoes" width="321" height="261">
                </picture>
                <p class="price">80 UAH / kg</p>
            </li>
            <li class="name-item">
                <h3 class="title-plant">Leek</h3>
                <a href="" class="link-plant link" target="_blank" rel="noopener noreferrer">Plant</a>
                <picture>
                    <source srcset="../images/leek@x1.webp, ../images/leek@x2.webp">
                    <img src="../images/leek-mobile@x1.webp" alt="bunch of green onions" width="321" height="261">
                </picture>
                <p class="price">50 UAH / kg</p>
            </li>
            <li class="name-item">
                <h3 class="title-plant">Mushrooms</h3>
                <a href="" class="link-plant link" target="_blank" rel="noopener noreferrer">Plant</a>
                <picture>
                    <source srcset="../images/mushrooms@x1.webp, ../images/mushrooms@x2.webp">
                    <img src="../images/mushrooms-mobile@x1.webp" alt="bunch of white mushrooms" width="321" height="261">
                </picture>
                <p class="price">40 UAH / kg</p>
            </li>
            <li class="name-item">
                <h3 class="title-plant">Corn</h3>
                <a href="" class="link-plant link" target="_blank" rel="noopener noreferrer">Plant</a>
                <picture>
                    <source srcset="../images/corn@x1.webp, ../images/corn@x2.webp">
                    <img src="../images/corn-mobile@x1.webp" alt="two corn" width="321" height="261">
                </picture>
                <p class="price">60 UAH / kg</p>
            </li>
            <li class="name-item">
                <h3 class="title-plant">Radish</h3>
                <a href="" class="link-plant link" target="_blank" rel="noopener noreferrer">Plant</a>
                <picture>
                    <source srcset="../images/radish@x1.webp, ../images/radish@x2.webp">
                    <img src="../images/radish@x1.webp" alt="bunch of radish" width="321" height="261">
                </picture>
                <p class="price">90 UAH / kg</p>
            </li>
        </ul>
        <button type="submit" class="btn-order">oRDER
            <svg class="icon-order" width="14" height="14">
                <use href="../images/icons.svg#"></use>
            </svg>
        </button>
    </div>
</section>