<section class="vegetables">
    <div class="container">
        <h2 class="title-section">oRGANIC vegetables</h2>
        <p class="text-description"></p>
        <ul class="group-list">
            <li class="name-item">
                <a href="" class="link-plant link">
                <h3 class="title-plant">Carrot</h3>
                <p class="second-text">Plant</p>
                <picture>
                    <source srcset="../images/carrot@x1.webp 1x, ../images/carrot@x2.webp 2x" media="(min-width=1280px)">
                    <source srcset="../images/carrot@x1.webp 1x, ../images/carrot@x2.webp 2x" media="(min-width=768px)">
                    <source srcset="../images/carrot-mobile@x1.webp 1x, ../images/carrot-mobile@x2.webp 2x" media="(min-width=375px)">
                    <img src="./images/carrot-mobile@x1.webp" alt="bunch of carrots">
                </picture>
                <p class="price">100 UAH / kg</p>
                </a>
            </li>
            <li class="name-item">
                <a href="" class="link-plant link">
                <h3 class="title-plant">Brussel sprouts</h3>
                <p class="second-text">Plant</p>
                <picture>
                    <source srcset="../images/brussel@x1.webp 1x, ../images/brussel@x2.webp 2x" media="(min-width=1280px)">
                    <source srcset="../images/brussel@x1.webp 1x, ../images/brussel@x2.webp 2x" media="(min-width=768px)">
                    <source srcset="../images/brussel-mobile@x1.webp 1x, ../images/brussel-mobile@x1.webp 2x" media="(min-width=375px)">
                    <img src="../images/brussel-mobile@x1.webp" alt="folded brussels sprouts">
                </picture>
                <p class="price">80 UAH / kg</p>
                </a>
            </li>
            <li class="name-item">
                <a href="" class="link-plant link">
                <h3 class="title-plant">Tomato</h3>
                <p class="second-text">Plant</p>
                <picture>
                    <source srcset="../images/tomato@x1.webp 1x, ../images/tomato@x1.webp 2x" media="(min-width=1280px)">
                    <source srcset="../images/tomato@x1.webp 1x, ../images/tomato@x1.webp 2x" media="(min-width=768px)">
                    <source srcset="../images/tomato-mobile@x1.webp 1x, ../images/tomato-mobile@x1.webp 2x" media="(min-width=375px)">
                    <img src="../images/tomato-mobile@x1.webp" alt="half and whole tomato">
                </picture>
                <p class="price">40 UAH / kg</p>
                </a>
            </li>
            <li class="name-item">
                <a href="" class="link-plant link">
                <h3 class="title-plant">Eggplant</h3>
                <p class="second-text">Plant</p>
                <picture>
                    <source srcset="../images/eggplant@x1.webp 1x, ../images/eggplant@x2.webp 2x" media="(min-width=1280px)">
                    <source srcset="../images/eggplant@x1.webp 1x, ../images/eggplant@x2.webp 2x" media="(min-width=768px)">
                    <source srcset="../images/eggplant-mobile@x1.webp 1x, ../images/eggplant-mobile@x2.webp 2x" media="(min-width=375px)">
                    <img src="../images/eggplant-mobile@x1.webp" alt="three eggplants">
                </picture>
                <p class="price">60 UAH / kg</p>
                </a>
            </li>
            <li class="name-item">
                <a href="" class="link-plant link">
                <h3 class="title-plant">Sweet potatoes</h3>
                <p class="second-text">Plant</p>
                <picture>
                    <source srcset="../images/potatoes@x1.webp 1x, ../images/potatoes@x2.webp 2x" media="(min-width=1280px)">
                    <source srcset="../images/potatoes@x1.webp 1x, ../images/potatoes@x2.webp 2x" media="(min-width=768px)">
                    <source srcset="../images/potatoes-mobile@x1.webp 1x, ../images/potatoes-mobile@x2.webp 2x" media="(min-width=375px)">
                    <img src="../images/potatoes-mobile@x1.webp" alt="sliced potatoes">
                </picture>
                <p class="price">80 UAH / kg</p>
                </a>
            </li>
            <li class="name-item">
                <a href="" class="link-plant link">
                <h3 class="title-plant">Leek</h3>
                <p class="second-text">Plant</p>
                <picture>
                    <source srcset="../images/leek@x1.webp 1x, ../images/leek@x2.webp 2x" media="(min-width=1280px)">
                    <source srcset="../images/leek@x1.webp 1x, ../images/leek@x2.webp 2x" media="(min-width=768px)">
                    <source srcset="../images/leek-mobile@x1.webp 1x, ../images/leek-mobile@x1.webp 2x" media="(min-width=375px)">
                    <img src="../images/leek-mobile@x1.webp" alt="bunch of green onions">
                </picture>
                <p class="price">50 UAH / kg</p>
                </a>
            </li>
            <li class="name-item">
                <a href="" class="link-plant link">
                <h3 class="title-plant">Mushrooms</h3>
                <p class="second-text">Plant</p>
                <picture>
                    <source srcset="../images/mushrooms@x1.webp 1x, ../images/mushrooms@x2.webp 2x" media="(min-width=1280px)">
                    <source srcset="../images/mushrooms@x1.webp 1x, ../images/mushrooms@x2.webp 2x" media="(min-width=768px)">
                    <source srcset="../images/mushrooms-mobile@x1.webp 1x, ../images/mushrooms-mobile@x2.webp 2x" media="(min-width=375px)">
                    <img src="../images/mushrooms-mobile@x1.webp" alt="bunch of white mushrooms">
                </picture>
                <p class="price">40 UAH / kg</p>
                </a>
            </li>
            <li class="name-item">
                <a href="" class="link-plant link">
                <h3 class="title-plant">Corn</h3>
                <p class="second-text">Plant</p>
                <picture>
                    <source srcset="../images/corn@x1.webp 1x, ../images/corn@x2.webp 2x" media="(min-width=1280px)">
                    <source srcset="../images/corn@x1.webp 1x, ../images/corn@x2.webp 2x" media="(min-width=768px)">
                    <source srcset="../images/corn-mobile@x1.webp 1x, ../images/corn-mobile@x1.webp 2x" media="(min-width=375px)">
                    <img src="../images/corn-mobile@x1.webp" alt="two corn">
                </picture>
                <p class="price">60 UAH / kg</p>
                </a>
            </li>
            <li class="name-item">
                <a href="" class="link-plant link">
                <h3 class="title-plant">Radish</h3>
                <p class="second-text">Plant</p>
                <picture>
                    <source srcset="../images/radish@x1.webp 1x, ../images/radish@x2.webp 2x" media="(min-width=1280px)">
                    <source srcset="../images/radish@x1.webp 1x, ../images/radish@x2.webp 2x" media="(min-width=768px)">
                    <source srcset="../images/radish@x1.webp 1x, ../images/radish@x2.webp 2x" media="(min-width=375px)">
                    <img src="../images/radish@x1.webp" alt="bunch of radish">
                </picture>
                <p class="price">90 UAH / kg</p>
                </a>
            </li>
        </ul>
        <button type="submit" class="btn-order">oRDER
            <svg class="icon-order" width="14" height="14">
                <use href="../images/icons.svg#icon-arrow"></use>
            </svg>
        </button>
    </div>
</section>