<section class="we-will-call-you">
    <div class="container description-container">
        <h2  class="title">Fresh Harvest Box has got you covered</h2>
            <div class="field-container">
                <p class="text-we-will">Our boxes are packed with delicious, nutritious vegetables, 
                    perfect for anyone looking to eat healthier or support local farmers. 
                    Order your box today and start enjoying the best that nature has to offer!</p>
                <div class="input">
                    <label for="tel-recall">
                <input type="tel" 
                name="user-phone" 
                id="user-phfone"
                placeholder="+380 ()"
                class="recall-input"  
                required>
            </label>
                <button type="button" class="recall-btn">Recall</button>
                </div>
            </div>
            <picture>
                <source srcset="../images/we-will-call-you-imggirl-mobile@x1.webp 1x,
                 ../images/we-will-call-you-imggirl-mobile@x2.webp 2x" media="(min-widh: 320px)" />
                <source srcset="../images/we-will-call-you-imggirl-tablet@x1.webp 1x,
                 ../images/we-will-call-you-imggirl-tablet@x2.webp 2x" media="(min-widh: 768px)" />
                <source srcset="../images/we-will-call-you-imggirl-desktop@x1.webp 1x,
                 ../images/we-will-call-you-imggirl-desktop@x2.webp 2x" media="(min-widh: 1280px)" />
            <img class="image-girl"
            src="../images/we-will-call-you-imggirl-mobile@x1.webp" alt="girl">
    </picture>
        </div>
</section>