.footer {
  background: #eaf7e5;
  padding-top: 80px;
  padding-bottom: 80px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer-logo-menu {
  display: flex;
  gap: 40px;
  flex-direction: column;
}

.footer-logo {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.footer-logo-text {
  color: #141414;
  text-align: center;
  font-size: 14px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  line-height: 1.29;
  letter-spacing: -0.56px;
  text-transform: uppercase;
}

.footer-menu {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.footer-menu-item {
  color: #141414;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.56px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-menu-item:focus,
.footer-menu-item:hover {
  color: #a1c487;
}

.footer-social-address {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid #141414;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #141414;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  color: #a1c487;
  border-color: #a1c487;
}

.footer-social-icon {
  fill: currentColor;
}

.footer-address-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-tel-link {
  color: #141414;
  text-align: center;
  font-size: 14px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  line-height: 1.29;
  text-transform: uppercase;
}

.footer-address-link {
  color: #141414;
  text-align: center;
  font-size: 14px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  line-height: 1.29;
  /* text-transform: uppercase; */
  letter-spacing: -0.28px;
}

@media screen and (min-width: 375px) {
  .footer-container {
    max-width: 374px;
  }
}

@media screen and (min-width: 768px) {
  .footer-container {
    max-width: 767px;
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
    align-items: flex-start;
  }

  .footer-social-list {
    justify-content: flex-start;
  }

  .footer-tel-link {
    font-size: 18px;
    line-height: 1.33;
    text-align: left;
  }

  .footer-address-link {
    font-size: 18px;
    line-height: 1.33;
    text-align: left;
    letter-spacing: -0.36px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-container {
    max-width: 1280px;
    justify-content: flex-start;
    /* position: relative; */
  }
  .footer-logo-menu {
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 166px;
  }

  .footer-logo {
    position: absolute;
    left: 115.5px;
  }

  .footer-social {
    width: 172px;
  }

  .footer-social-list {
    justify-content: flex-start;
  }

  .footer-social-address {
    margin: 0;
    margin-left: 166px;
    justify-content: center;
    align-items: flex-start;
  }

  .footer-menu-link {
    /* position: absolute; */
    top: 164px;
    left: 547px;
  }

  .footer-address-menu {
    /* position: absolute; */
    top: 164px;
  }
}
