.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 335px;
  /* min-height: 903px; */
  border-radius: 20px;
  background: #fcfcfc;
  padding: 20px;
  box-shadow: 0px 0px 8.775463104248047px 0px rgba(0, 0, 0, 0.01),
    0px 0px 18.17037010192871px 0px rgba(0, 0, 0, 0.02),
    0px 0px 36.23749923706055px 0px rgba(0, 0, 0, 0.03),
    0px 0px 71.02963256835938px 0px rgba(0, 0, 0, 0.03),
    0px 0px 130.5995330810547px 0px rgba(0, 0, 0, 0.04),
    0px 0px 223px 0px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  z-index: 5;
  height: 85%;
  overflow: scroll;
  display: block;
}

.modal-checkbox {
  position: relative;
}

.modal .vegetables-title {
  color: #141414;
  font-size: 18px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.72px;
}

.plan-text {
  color: #141414;
  font-size: 14px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
}

@media screen and (max-width: 374px) {
  .modal {
    width: 95%;
  }
}

@media screen and (min-width: 767px) {
  .modal {
    width: 704px;
    height: 853px;
    padding: 40px;
    overflow: hidden;
    height: 85%;
    z-index: 5;

    overflow: scroll;
    display: block;
  }
}

@media screen and (min-width: 1279px) {
  .modal {
    width: 891px;
    height: 911px;
    height: 85%;
    overflow: scroll;
    display: block;
  }
}

.box-title-button {
  display: flex;
  justify-content: space-between;
}

.form-title {
  color: #141414;
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
  font-size: 28px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -1.12px;
  text-transform: uppercase;
}

@media screen and (min-width: 1280px) {
  .form-title {
    font-size: 40px;
  }
}

.button-close_box {
  display: flex;
}

.modal-picture {
  display: flex;
  flex-direction: row-reverse;
  padding-bottom: 8px;
  padding-right: 30px;
}

@media screen and (min-width: 768px) {
  .modal-picture {
    padding: 0;
    bottom: 0;
  }
}

.myBtnClose {
  position: absolute;
  right: 24px;
  top: 24px;
  background-color: #edeef2;
  width: 24px;
  height: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0;
  cursor: pointer;
  stroke: black;
  background: transparent;
}

.box-basket {
  margin-top: 40px;
}

.box-vegatables-plant {
  position: relative;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.modal-checkbox {
  background: #faf3e7;
  border-radius: 20px;
}

@media screen and (min-width: 768px) {
  .modal-checkbox {
    width: 200px;
    height: 250px;
    padding-bottom: 14px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .modal-checkbox {
    width: 257px;
    height: 308px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.list-item {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media screen and (min-width: 767px) {
  .list-item {
    flex-direction: row;
    justify-content: space-between;
  }
}

.modal-item {
  border-radius: 20px;
  background: #fff;
}

@media screen and (min-width: 767px) {
  .box-input_picture-girl {
    display: flex;
    margin-top: 40px;
    position: relative;
  }
}

.modal-checkbox-icon:hover,
.modal-checkbox-icon:focus {
  stroke: #a1c487;
}

@media screen and (max-width: 767px) {
  .img_girl {
    display: none;
  }
}

.input-name_box {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

@media screen and (min-width: 767px) {
  .input-name_box {
    width: 360px;
  }
}

@media screen and (min-width: 1279px) {
  .input-name_box {
    width: 380px;
  }
}

.enter-input {
  border-radius: 100px;
  border: 1px solid rgba(20, 20, 20, 0.3);
  width: 100%;
  height: 46px;
  padding-left: 24px;
  font-size: 14px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.56px;
}

.comments {
  border-radius: 20px;
  border: 1px solid rgba(20, 20, 20, 0.3);
  width: 100%;
  height: 132px;
  padding-top: 14px;
  padding-left: 24px;
  font-size: 14px;
  color: rgba(20, 20, 20, 0.5);
}

.modal-images {
  width: 94px;
  height: 78px;
}

.submit {
  border-radius: 100px;
  background-color: #fc8a11;
  width: 92px;
  height: 42px;
  border: none;
  color: #fff;
  font-size: 14px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.56px;
  text-transform: capitalize;
  /*  */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /*  */
}

/*  */
.submit:focus,
.submit:hover {
  outline: none;
  background-color: #a1c487;
  cursor: pointer;
}

/*  */

@media screen and (min-width: 767px) {
  .submit {
    width: 114px;
    height: 48px;
  }

  .box-vegatables-plant {
    position: static;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*  */
.img-girl {
  display: none;
}

/*  */
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .img-girl {
    position: absolute;
    bottom: 0;
    right: -200px;
    bottom: -38px;
    display: block;
  }
}

@media screen and (min-width: 1280px) {
  .img-girl {
    bottom: -38px;
    right: -38px;
    position: absolute;

    display: block;
  }

  .vegetables-title {
    color: #141414;
    font-size: 24px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.96px;
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-checkbox-icon {
  fill: none;
  stroke: #a1c487;
}

.modal-checkbox-icon1 {
  fill: transparent;
  stroke: #a1c487;
}

.modal-checkbox-input:checked+.modal-checkbox-label .modal-checkbox-icon {
  display: none;
}

.modal-checkbox-input:checked+.modal-checkbox-label .modal-checkbox-icon0 {
  display: none;
}

.modal-checkbox {
  position: relative;

  .modal-checkbox-icon {
    position: absolute;
    top: 14px;
    right: 14px;
    z-index: 3;
  }

  .modal-checkbox-icon1 {
    position: absolute;
    top: 14px;
    right: 14px;
    z-index: 5;
  }
}