:root {
  --primary-font: 'DM Sans', sans-serif;
  --praimary-text-color: #141414;
  --secondary-text-color: #fff;
  --primary-button-background-color: #fc8a11;
  --accent-button-background-color: #a1c487;
}
